<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="text-light">@ViewData["Title"] - Auto_House</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Auto_House.styles.css" asp-append-version="true" />
</head>
<body style="background-color:gray;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black  box-shadow mb-3 text-light" style="background-color:gray;">
            <div class="container-fluid" style="color:wheat;background-color:black;border-bottom:unset">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Auto_House</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between text-light">
                    <ul class="navbar-nav flex-grow-1 text-light">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" style="color:white;">Home</a>
                        </li>
                        <li class="nav-item  text-light">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy" style="color:white;">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item text-light">
                            <a class="nav-link text-light" href="/Identity/Account/Register">Register</a>
                        </li>
                        <li class="nav-item text-light">
                            <a class="nav-link text-light" href="/Identity/Account/Login">Login</a>
                        </li>

    
                     </ul>
                    
                        <partial name="_LoginPartial" style="color:white" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container border-bottom:unset" style="background-color:gray;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted align-content-center bg-black">
        <div class="container text-light align-content-center align-items-center border-top:unset">
            <p class="text-center"> &copy; 2025 - Auto_House - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p> 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
